name: Deploy exploredmc to Hostinger via SFTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy exploredmc to Hostinger via SFTP
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        password: ${{ secrets.SSH_PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        source: "."
        target: "/home/${{ secrets.SSH_USERNAME }}/domains/exploredmc.harekrishnamobile.in/zeeltest/"
        
